body {
  margin: 20px;
}

/* 유틸리티 바 */
.utility-bar {
  text-transform: uppercase;
  font-size: 0;
  text-align: right;

  li {
    display: inline-block;
  }

  a,
  [aria-hidden='true'] {
    display: inherit;
    padding: 8px;
    font-size: 1rem;
  }
}

.header-bar {
  width: 1024px;
  height: 44px;
  display: flex;

  .menu-bar {
    display: flex;
    flex-direction: row-reverse;
    flex-grow: 1;
  }
}
